body {
    font-family: Helvetica, sans-serif;
    color: rgb(255, 242, 213);
    background-image: url(../images/space.png);
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 400px;
    border-radius: 50px;
    background: #181b25;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: rgb(255, 242, 213);
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
    margin-top: .5em;
    margin-bottom: .5em;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgb(255, 206, 99) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    opacity: 0.5;
}


.blogsnippets, .viewblogs{
    margin-top: 5em;
}

.blogsnippet{
    margin-bottom: 3em;
    
}

.blogsnippet a {
    color: rgba(34,193,195,1);
    margin-left: .25em;
}

.viewblogs a{
    color: rgba(34,193,195,1)

}

footer{
    position:absolute;
    bottom: 0;
    right:0;
    transform: translate(-50%, -50%);
}